<nav>
    <div class="nav-wrapper black">
   <!--  <a href="#" class="large material-icons">airline_seat_flat_angled</a> -->
   <a href="#!" class="material-icons">home</a>
   <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="sidenav-trigger" class="right hide-on-med-and-down">
        <li *ngIf="!isLogged"><a routerLink="/security/login">Login</a></li>
        <li *ngIf="isLogged"><a routerLink="/security/logout">Logout</a></li>
        <li *ngIf="isLogged"><a routerLink="/security/change-password">Change Password</a></li>
        <li *ngIf="!isLogged"><a routerLink="/usuarios/registro">Register</a></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
      <li *ngIf="!isLogged"><a routerLink="/security/login">Login</a></li>
      <li *ngIf="isLogged"><a routerLink="/security/logout">Logout</a></li>
      <li *ngIf="isLogged"><a routerLink="/security/change-password">Change Password</a></li>
      <li *ngIf="!isLogged"><a routerLink="/usuarios/registro">Register</a></li>
 </ul>
  