<fieldset>
    <legend>creacion de manga</legend>
    <div class="row">
        <form class="col s12" [formGroup]="fgValidator" >
            <div class="row">
                <div class="input-field col s3">
                    <input id="nombre" formControlName="nombre" type="text" class="validate">
                    <label for="nombre">Nombre</label>
                </div>
                <div class="input-field col s9">
                    <input id="numero" formControlName="numero" type="number" class="validate">
                    <label for="numero">numero</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s3">
                    <input id="rutamanga" formControlName="rutamanga" type="text" class="validate">
                    <label for="rutamanga">Ruta del manga</label>
                </div>
                <div class="input-field col s9">
                    <input id="mangaid" formControlName="mangaid" type="text" class="validate">
                    <label for="mangaid">id de manga</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <button class="btn waves-effect waves-light" type="button" (click)="saveNewRecordFn()" name="action">Submit
                        <i class="material-icons right">send</i>
                    </button>
                    &nbsp;&nbsp;
                    <a routerLink="/parameters/lista-mangas" class="waves-effect waves-light btn red"><i class="material-icons right">cancel</i>Cancel</a>
                </div>
            </div>
        </form>
    </div>
</fieldset>
