
<div class="container">
    <div class="row">
        <form [formGroup]="fgValidator" class="col s12" id="reg-form">
          <div class="row">
            <div class="input-field col s6">
              <input id="name" formControlName="name" type="text" >
              <label for="name">Nombre</label>
            </div>
            <div class="input-field col s6">
              <input id="last_name" formControlName="last_name" type="text" >
              <label for="last_name">Apellido</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="email" formControlName="email" type="email" >
              <label for="email">Email</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s4">
                <input formControlName="country" id="country" type="text"  minlength="6" >
                <label for="country">País</label>
            </div>
            <div class="input-field col s4">
                <input id="city" formControlName="city" type="text"  minlength="6" >
                <label for="city">Ciudad</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s6">
                <input id="celphone" formControlName="cel" type="text"  minlength="6" >
                <label for="celphone">Numero de celular</label>
            </div>          
            <!-- <div class="input-field col s6">
                <input id="date_birth" type="date" formControlName="date" class="datepicker">
                <label for="date_birth">Fecha de nacimiento</label>
                <script>
                    document.addEventListener('DOMContentLoaded', function() {
                    var elems = document.querySelectorAll('.datepicker');
                    var instances = M.Datepicker.init(elems, options);
                  });
                </script>
                
            </div>-->
            <div class="input-field col s6">
              <input id="date_birth" formControlName="date" type="text"  minlength="6" >
              <label for="date_birth">Fecha de Nacimiento (DD/MM/AAAA) </label>
          </div> 
          </div>
          
          <div class="input-field col s6">
            <button (click)="UserRegisterFn()" class="btn btn-large btn-register waves-effect waves-light" type="submit" name="action">Registrate !
              
            </button>
          </div>
        </form>
      </div>
     
    </div>

    