<br />
<footer class="page-footer black">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Manga prog3</h5>
          <p class="grey-text text-lighten-4">nuestra sitio web se dedica a llevar entretenimiento a los lectores de esta porqueria.</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Links</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!">leomanga</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">tumanga online</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">manga rocks</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">otros</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2020 Copyright 
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
      </div>
    </div>
  </footer>